*,
*::after,
*::before{
    box-sizing: border-box; /*чтобы margin и padding не изменяли заданный размер контейнера*/
}
@font-face{
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format("woff2"),
         url('../fonts/RobotoCondensed-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap; /*сначала подгружаются шрифты, которые есть на компе, а потом наши*/
}
@font-face{
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format("woff2"),
         url('../fonts/RobotoCondensed-Regular.woff') format("woff");
    font-weight: 800px;
    font-style: normal;
    font-display: swap; /*сначала подгружаются шрифты, которые есть на компе, а потом наши*/
}

body{
    color: #000000;/*весь текст внутри body черного цвета*/
    font-family: 'RobotoCondensed-Light'; /*подключение шрифта*/
    font-size: 18px;
    line-height: 21px;
}

a{
    color: inherit;/*все ссылки на районе ЧЕРНОГО цвета, дабы перебить синий по умолчанию т.к. inherit заставляет наследовать от родителя*/
    text-decoration: none; /*убрать подчеркивание у всех ссылок*/
}

.header{
    background-image: url('../images/fon.jpg'); /*Добавили фоновую картинку*/
    height: 100vh; /*100% высота картинки*/
    background-repeat: no-repeat; /*запрещаем картинке повторяться*/
    background-size: cover;/*для растягивания картинки по размеру конкретного экрана*/
    background-position: bottom center; /*Отцентрировать картинку и подтянуть все что не видно внизу*/
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 60px;/*отступ снизу*/
    

}

.header__title{
    font-family: 'RobotoCondensed-Regular';
    color: aliceblue;
    text-align: center;/*выравниваем посередине*/
    font-size: 120px;
    line-height: 564px;
}

.header__title span{
    display: block; /*сделали элемент блочным, чтобы удобнее было оперировать*/
    text-align: right; /*отправили его к правому краю*/
    margin-top: -450px;/*искуственно двигаем контент*/
    margin-right: 500px;/*искуственно двигаем контент*/
}

.header__info{
    display: block; /*сделали элемент блочным, чтобы удобнее было оперировать*/
    text-align: center;/*выравниваем посередине*/
    margin-top: -210px;/*искуственно двигаем контент*/
    font-family: 'RobotoCondensed-Regular';
    font-size: 25px;
    margin-bottom: 10px;
}
.header_btn{
    font-family: 'RobotoCondensed-Regular';
    border: 2px solid #000;
    padding: 5px 14px; /*Отступы рамки оттекста сверху снизу и по бокам*/
    margin-left: 650px;/*искуственно двигаем контент*/
    
}

.container{
    max-width: 1230px; /*максимальная ширина контейнера*/
    margin: 0 auto; /*ВНЕШНИЕ отступы*/
    padding: 20px 15px; /*ВНУТРЕННИЕ отступы*/
    display: flex;
    justify-content: space-between;

}

.content__title{
    background-color: #C4C4C4;;
    color: #fff;
    font-size: 40px;
    line-height: 64px;
    font-family: 'RobotoCondensed-Light'; 
    padding: 18px 15px;/*отступы текста от краев области*/
    text-align: center;
    font-weight: 400;/*толщина текста*/
}
