*,
*::after,
*::before{
    box-sizing: border-box; /*чтобы margin и padding не изменяли заданный размер контейнера*/
}
@font-face{
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format("woff2"),
         url('../fonts/RobotoCondensed-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap; /*сначала подгружаются шрифты, которые есть на компе, а потом наши*/
}
@font-face{
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format("woff2"),
         url('../fonts/RobotoCondensed-Regular.woff') format("woff");
    font-weight: 800px;
    font-style: normal;
    font-display: swap; /*сначала подгружаются шрифты, которые есть на компе, а потом наши*/
}

body{
    color: #000000;/*весь текст внутри body черного цвета*/
    font-family: 'RobotoCondensed-Light'; /*подключение шрифта*/
    font-size: 18px;
    line-height: 21px;
}

a{
    color: inherit;/*все ссылки на районе ЧЕРНОГО цвета, дабы перебить синий по умолчанию т.к. inherit заставляет наследовать от родителя*/
    text-decoration: none; /*убрать подчеркивание у всех ссылок*/
}

.header{
    background-image: url('../images/fon.jpg'); /*Добавили фоновую картинку*/
    height: 100vh; /*100% высота картинки*/
    background-repeat: no-repeat; /*запрещаем картинке повторяться*/
    background-size: cover;/*для растягивания картинки по размеру конкретного экрана*/
    background-position: bottom center; /*Отцентрировать картинку и подтянуть все что не видно внизу*/
    text-align: center;
    margin-bottom: 60px;
    color: #000;
    display: flex; /* Все элементы в ширину в одну линию друг за другом встали*/
    flex-direction: column; /* Возвращает элементы обратно друг за другом вертикально*/
    justify-content: space-between; /*Раскидали по высоте*/
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 65px;
    padding-bottom: 260px;
}

.header__title{
    font-family: 'Poiret One', cursive;
    color: #fff;
    font-size: 97px;
    line-height: 85px;
    font-weight: 800;
}

.header__title span{
    display: block; /*ВОТ так часть текста переносится на другую строку*/
}

.header__subtitle{
    font-size: 28px;
    line-height: 85px;
    display: block;
    margin-bottom: 85px;
    color: aliceblue;
}

.btn__path{
    transition: fill .5s; /*для ПЛАВНОСТИ при наведении на стрелочку, НЕ ЗАБУДЬ посмотреть есть ли во всех svg в html fill="transparent"*/
}

/* Закраска внутри SVG элемента*/

.header_btn:hover .btn__path{
    fill: #C4C4C4;
}

.button__text{
    display: inline-block; /*элемент блочный, но с ним можно выполнять все строчные движухи*/
    transform: translate(-50px, -10px); /*ПОСТАНОВКА ЭЕЛЕМЕНТОВ*/
    color: #fff;
    font-family: 'RobotoCondensed-Regular';
}

.container{
    max-width: 1230px; /*максимальная ширина контейнера*/
    margin: 0 auto; /*ВНЕШНИЕ отступы*/
    padding: 10px 15px; /*ВНУТРЕННИЕ отступы*/
    display: flex;
    justify-content: space-between;

}

.content__title{
    background-color: #C4C4C4;
    color: #fff;
    font-size: 40px;
    line-height: 64px;
    font-family: 'RobotoCondensed-Light'; 
    padding: 18px 15px;/*отступы текста от краев области*/
    text-align: center;
    font-weight: 400;/*толщина текста*/
}

.content__inner{
    padding: 20px 0;
    text-align: center;
}

.content__img{
    width: 280px;/*все картинки будут такого размера, не важно какого размера вставляется*/
    height: 280px;/*все картинки будут такого размера, не важно какого размера вставляется*/
    border-radius: 50%; /*сделать картинку круглой, не важно круглой она вставлена или нет*/
    object-fit: cover; /*сохранить пропорции картинки*/
}

.content__item-title{
    padding: 30px 0;
    font-size: 24px;
    line-height: 24px;
    color: #888888;
    font-weight: 400;
}

.content__link{
    background-color: #C4C4C4; /*цвет кнопки*/
    color: #fff; /*цвет текста внутри кнопочки*/
    padding: 13px 48px;
    
}

.footer{
    background-color: #C4C4C4;
    margin-top: 60px;
    padding: 20px 15px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.footer__form{
    max-width: 383px;
    margin: 0 auto;
}

.footer__form-title{
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Light';
    color: #fff;
}

.contact__form-input{
    display: block;
    border: 1px solid #888888;
    margin-bottom: 20px;
    height: 30px; /*высота полей ввода*/
    width: 100%;
    padding: 0 21px; /*Отступы внутри инпута*/
    font-size: 14px; /*Свойства текста внутри инпута*/
    line-height: 21px; /*Свойства текста внутри инпута*/
    font-family: 'RobotoCondensed-Regular';/*Свойства текста внутри инпута*/
    
}

/*Задать цвет текста внутри инпута*/
.contact__form-input::placeholder{
    color: #888888;
}

.footer__contacts{
    padding-left: 50px;
}

.footer__form-btn{
    font-weight: 300;
    font-size: 14px; /*Свойства текста внутри инпута*/
    line-height: 21px; /*Свойства текста внутри инпута*/
    font-family: 'RobotoCondensed-Regular';
    border: 1px solid #fff;
    background-color: transparent; /*Цвет кнопки совпадает с цветом фона, она будто становится прозрачной*/
    padding: 12px 45px;
    color: #fff; /* Цвет текста внутри кнопки*/
    cursor: pointer; /*Чтобы при наведении на кнопку появлялась рука у курсора*/
}
























