*,
*::after,
*::before{
    box-sizing: border-box; /*чтобы margin и padding не изменяли заданный размер контейнера*/
}
/*Ниже подключение шрифтов*/
@font-face{
    font-family: "balqis";
    src: url('../fonts/alqis.woff2') format("woff2"),
         url('../fonts/balqis.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap; /*сначала подгружаются шрифты, которые есть на компе, а потом наши*/
}
@font-face{
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format("woff2"),
         url('../fonts/RobotoCondensed-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap; /*сначала подгружаются шрифты, которые есть на компе, а потом наши*/
}
@font-face{
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format("woff2"),
        url('../fonts/RobotoCondensed-LightItalic.woff') format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap; /*сначала подгружаются шрифты, которые есть на компе, а потом наши*/
}
@font-face{
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format("woff2"),
         url('../fonts/RobotoCondensed-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap; /*сначала подгружаются шрифты, которые есть на компе, а потом наши*/
}

/*Подключение шрифтов закончилось*/

body{
    color: #000000;/*весь текст внутри body черного цвета*/
    font-family: 'RobotoCondensed-Light'; /*подключение шрифта*/
    font-size: 18px;
    line-height: 21px;
}
a{
    color: inherit;/*все ссылки на районе ЧЕРНОГО цвета, дабы перебить синий по умолчанию т.к. inherit заставляет наследовать от родителя*/
    text-decoration: none; /*убрать подчеркивание у всех ссылок*/
}
ul{
    list-style: none; /*убрали вообще у всех списков точки или цифры*/
}


.container{
    max-width: 1230px;/*это ширина из макета, но мы задаем не просто weight, т.к. нужен для адаптива*/
    margin: 0 auto; /*ВНЕШНИЕ ОТСТУПЫ сверху и снизу 0, слева справа посередине*/
    padding: 0 15px; /*ВНУТРЕННИЕ ОТСТУПЫ для адаптива, чтобы на мобилке не прилипало к краям слева и справа*/
}

.page-section{
    margin: 200px auto; /*отступ от контента сверху и снизу по 200px, помним о схлопывании марджинов*/
    max-width: 1920px; /*слайдер не будет выходить за пределы 1200 даже если у кого-то огромный монитор*/
}
.title{
    font-family: "balqis";
    color:#E2AB3F;
    font-size: 96px;
    line-height: 128px;
    font-weight: 200px;
    margin-bottom: 100px;/*отступ снизу*/
}
.title span{
    font-family: 'RobotoCondensed-LightItalic';
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    display: block; /*сделали элемент блочным, чтобы удобнее было оперировать*/
    margin-left: 185px;/*искуственно двигаем контент*/
    margin-top: -30px;/*искуственно двигаем контент*/
    font-weight: 200px;
    
}

.header{
    background-image: url('../images/header-bg.jpg'); /*Добавили фоновую картинку*/
    height: 100vh; /*100% высота картинки*/
    background-repeat: no-repeat; /*запрещаем картинке повторяться*/
    background-size: cover;/*для растягивания картинки по размеру конкретного экрана*/
    background-position: bottom center; /*Отцентрировать картинку и подтянуть все что не видно внизу*/
    font-family: 'Roboto Condensed', sans-serif;
}

.header__top{
    display: flex;/*Все элементы поставить друг за другом*/
    justify-content: space-between;/*Раскидать элементы равномерно по ширине, но у нас раскидываются по высоте, т.к. оси поменяны местами*/
    padding-top: 72px; /*отступ сверху на макете*/
    font-size: 24px; /*размер текста*/
    line-height: 28.13px;/*высота строки*/
    font-family: 'RobotoCondensed-Regular';/*подключение шрифта*/
    
}
 
.menu__list-item{
    display: inline-block;/*элементы списка становятся не друг по другом а в одну строку*/
}

.menu__list-item + .menu__list-item{ /*применяется к соседу снизу идущему в html, т.е. пропускается самый первый элемент*/
    margin-left: 52px;
}

.menu__list-link:hover{
    text-decoration: underline;/**/
}
.header__phone{
    padding-left: 40px; /*зарезервировали место под значок телефона, размер взят из макета*/
    position: relative; /* он родитель для след элемента вставки значка телефона*/
}
/*вставить перед элементом что-то, в этой штуковине всегда нужно писать content, подразумевается по умолчанию, иначе вообще before работать не будет*/
.header__phone::before{
    content: "";
    position: absolute; /* чтобы значок телефона встал на нужное место относительно самого телефона*/
    background-image: url(../images/phone-icon.svg); /*если не задать высоту и ширину, то элемент не появится, поэтому срочно задаем размер*/
    width: 29.96px;
    height: 30px;
    left:0; /*расстояние слева от начала зарезервированной область 0*/

}
.header__title{
    padding-top: 152px;/*отступ от верхнего контента на 152px*/
    text-align: center;/*выравниваем посередине*/
    font-size: 250px;
    line-height: 334px;
    font-family: "balqis";
    font-weight: 300;
}

.header__title span{
    display: block; /*сделали элемент блочным, чтобы удобнее было оперировать*/
    text-align: right; /*отправили его к правому краю*/
    font-size: 56px;
    line-height: 66px;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -65px;/*искуственно двигаем контент*/
    margin-right: 85px;/*искуственно двигаем контент*/
}
.fairy-tail__slider{
    width: 50%;/*слайдер теперь занимает 50% от ширины страницы*/
}
/*ниже класс пришел из js, а не html*/
.slick-btn{
    position: absolute;/* всегда прописываем эту штуку, если хотим самостоятельно позиционировать и двигать элемент*/
    top: 50%;/*поставить переключатели слайдера посередине картинки*/
    transform: translateY(-50%);/*чтобы точно были посередине*/
    z-index: 5; /*чтобы все стрелки были поверх всех картинок*/
    cursor: pointer; /*при наведении появляется рука, типо можно щелкнуть*/
    background-color: transparent;/*сделать фон прозрачным*/
    border: none; /*удалить рамки вокруг кнопок*/
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}

.fairy-tail__inner{
    position: relative;
}

.fairy-tail__container{
    max-width: 1201px;/*это ширина из макета, но мы задаем не просто weight, т.к. нужен для адаптива*/
    margin: 0 auto; /*ВНЕШНИЕ ОТСТУПЫ сверху и снизу 0, слева справа посередине*/
    padding: 0 15px; /*ВНУТРЕННИЕ ОТСТУПЫ для адаптива, чтобы на мобилке не прилипало к краям слева и справа*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.fairy-tail__body{
    width: 50%; /*поле под текст теперь занимает 50% от ширины страницы*/
    margin-left: auto;
    padding-left: 55px;
    /*все, что ниже делается для того, чтобы растянуть текста параграфов*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%; /*высота 100% родителя*/
}

.fairy-tail__text{
    padding: 10px 0; /*чтобы при добавлении текста текста параграфов не налезали друг на друга*/
}

.fairy-tail__body-title{
    font-family: 'RobotoCondensed-Regular';
}

.our-trip__inner{
    position: relative;
}
.our-trip__content{
    width: 50%; /*текст будет занимать только половину страницы и не наедет на слайдер из картинок справа*/
    padding-right: 55px; /*отсуп между картинкой слайдеров и текстом слева*/
}
.our-trip__conteiner{
    max-width: 1201px;/*это ширина из макета, но мы задаем не просто weight, т.к. нужен для адаптива*/
    margin: 0 auto; /*ВНЕШНИЕ ОТСТУПЫ сверху и снизу 0, слева справа посередине*/
    padding: 0 15px; /*ВНУТРЕННИЕ ОТСТУПЫ для адаптива, чтобы на мобилке не прилипало к краям слева и справа*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.our-trip__slider{
    width: 50%;/*слайдер теперь занимает 50% от ширины страницы*/
    margin-left: auto;
}
.fairy-tail__title span{
    margin-left: 243px;/*искуственно двигаем контент*/
}

.our-trip__body{
     /*все, что ниже делается для того, чтобы растянуть текста параграфов*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /*высота 100% родителя*/
    align-items: start; /*это как-то влияет на обводку вокруг кнопки, что ее не пидарасит на всю страницу*/
}
.our-trip__list{
     padding: 5px 0; /*чтобы при добавлении текста текста параграфов не налезали друг на друга*/
     font-size: 24px;
     line-height: 28px;
}
.our-trip__list li:first-child{
    margin-bottom: 20px;
    font-family: 'RobotoCondensed-Regular';
}

.our-trip_btn{
    font-style: normal;
    font-family: 'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
/*Ниже Делаем рамку вокруг кнопочки*/
    border: 1px solid #E2AB3F;
    padding: 11px 53px; /*Отступы рамки оттекста сверху снизу и по бокам*/
}

.hotel__title span{
    margin-left: 120px;/*искуственно двигаем контент*/
}
.hotel__inner{
    display: flex;
}
.hotel__images{
    margin-right: 100px;
}
.hotel_text{
    margin-bottom: 20px; /*отступы вниз*/
    
}
.hotel__gallery{
    margin-top: 30px; /*отступ сверху от пред контента 30px*/
    display: flex;
    flex-wrap: wrap; /*чтобы картинки переносились на след строку, когда место заполнено*/
    justify-content: space-between;
}
.hotel__gallery a{
    margin-top: 50px; /*отступ сверху от пред контента 50px*/
    
}
.prise__title span{
    margin-left: 120px;/*искуственно двигаем контент*/
}
.price__inner{
    display: flex;
}

.price__on-title,
.price__off-title{
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';
}

.price__on{
    width: 530px;
    margin-right: 70px;
}

.price__list-item{
    margin-bottom: 20px;
}

.price{
    background-image: url(../images/price-bg.png);
    background-repeat: no-repeat;
    background-position: 1150px 100px;
}

.contacts__inner{
    display: flex;
    justify-content: space-between;
}

.contacts__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts__date,
.contacts__price{
    font-family: "balqis";
    font-size: 96px;
    color: #E2AB3F;
    font-weight: 300;
    line-height: 100px;
    
}

.contacts__price{
    margin-left: 120px;
}

.contacts__date{
    margin-bottom: 20px;
}

.contacts__date span,
.contacts__price span{
    display: block; /*чтобы элементы разнеслись по разным строкам*/
    color: #000;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Light';
    margin-top: -10px;
}

.contacts__date span{
    margin-left: 235px;
}

.contacts__price span{
    margin-left: 205px;
}

.contacts__form{
    max-width: 383px;
    margin: 0 auto;
}


.contacts__form-title {
    font-family: 'RobotoCondensed-Regular';
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
}

.contacts__form-input{
    border: 1px solid #E2AB3F;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 0 31px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-family: 'RobotoCondensed-Light';
    color: #000; /*задать цвет текста, которым мы набираем поле ввода*/
}

.contacts__form-input::placeholder{
    color: #000; /*задать цвет текста, который прописан по умолчанию внутри полей ввода*/
}

.contacts__form-name {
    
}
.contacts__form-phone {
    
}
.contacts__form-btn {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-family: 'RobotoCondensed-Light';
    border: 1px solid #E2AB3F;
    background-color: transparent; /*сделать кнопочку как бы прозрачной чтобы она была цвета фона, на котором она располагается*/
    padding: 11px 45px;
    cursor: pointer;
}

.footer {
    background-image: url('../images/footer-bg.jpg'); /*Добавили фоновую картинку*/
    height: 100vh; /*100% высота картинки*/
    background-repeat: no-repeat; /*запрещаем картинке повторяться*/
    background-size: cover;/*для растягивания картинки по размеру конкретного экрана*/
    background-position: bottom center; /*Отцентрировать картинку и подтянуть все что не видно внизу*/
    padding-top: 96px;
}




.container {
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    
}
.footer__contacts {
    width: 356px;/*Задали размеры области в которой будет помещаться шар, чтобы шар не обрезался и помещался полностью и корректно*/
    height: 527px;/*Задали размеры области в которой будет помещаться шар, чтобы шар не обрезался и помещался полностью и корректно*/
    background-image: url('../images/footer__contacts-bg.png');
    background-repeat: no-repeat;
    text-align: center;
    
}
.footer__contacts-title {
    font-family: "balqis";
    font-size: 86px;
    line-height: 115px;
    color: #E2AB3F;
    margin-bottom: 50px;
    padding-top: 50px;
    
}
.footer__phone,
.footer__email {
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;/*разнести по разным строчкам иначе margin-bottom: 20px; внизу работать не будет*/
    padding-left: 40px; /*зарезервированное место под значки*/
    position: relative;
}

.footer__phone{
    margin-bottom: 20px;
}
/*ниже все делается для вставки иконок рядом с текстом*/

.footer__phone::before,
.footer__email::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;/*размеры области в которую будем вставлять icon*/
    height: 30px;/*размеры области в которую будем вставлять icon*/
    top: -5px;
}

.footer__phone::before{
    background-image: url(../images/footer__phone-icon.svg);
}

.footer__email::before {
    background-image: url(../images/footer__email-icon.svg);
}

.footer__social {
    
margin-top: 38px; 
}
.footer__social a {
    margin: 0 7px;
}
.footer__text {
    font-family: "balqis";
    font-size: 86px;
    line-height: 115px;
    padding-top: -150px;
    
}


