@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    background-image: url(../images/slider-1-img.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner{
        padding-top: 37px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 251px;
    }
}

.menu{
    &__list{
        display: flex;
        
    }
    &__item{
        padding-left: 28px;
        color: $default;
        @extend %title-font;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
    }
    &__link-search{
        padding-right: 23px; //резервируем место под значок
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            left: 0;
            width: 23px;
            height: 23px;
            background-image: url(../images/header-search.svg);
            margin-left: 95px;
        }
    }
    
}

.top{
    &__slider-subtitle{
        @extend %title-font;
        font-size: 18px;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-bottom: 24px;
    }
    &__slider-title{
        @extend %title-font;
        font-size: 62px;
        line-height: 72px;
        font-weight: 100;
        text-transform: uppercase;
        color: $title;
        margin-bottom: 35px;
    }
    &__slider-text{
        max-width: 460px;
        margin-bottom: 36px;
        @extend %text-font;
        font-size: 14px;
        line-height: 24px;
        color: $default;
    }
    &__slider-button{
        background-color: #ffffff;
        border: none;
        width: 212px;
        height: 45px;
        box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
        border-radius: 22.5px;
        cursor: pointer;
        @extend %title-font;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: $title;
        padding-right: 12px;
        margin-bottom: 10px;
        
    }
    &__slider-button:hover{
        background: #ffffff url('../images/arrow.png') no-repeat 181px 16px;
        outline: 0;
    }
}
.subtitle-trending{
    color: #43a047;
}
.subtitle-sale{
    color: red;
}
.subtitle-exclusive{
    color: #1e88e5;
}

.footer{
    padding-top: 117px;
    &__botton{
        padding-bottom: 30px;
        padding-top: 75px;
    }
    &__botton-inner{
        display: flex;
        justify-content: space-between;
    }
    &__copyright,
    &__conditions{
        @extend %title-font;
        color: $default;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 12px;
        line-height: 26px;
    }
    &__social{
        display: flex;
    }
    &__icon{
        padding-left: 7px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__contact-title,
    &__information-title,
    &__communication-title{
        padding-bottom: 25px;
        font-size: 18px;
        line-height: 24px;
        @extend %title-font;
        color: $default;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    &__contact-text{
        padding-bottom: 34px;
        @extend %text-font;
        color: $title;
        font-size: 14px;
        line-height: 22px;
    }
    &__information-text{
        padding-bottom: 17px;
        @extend %title-font;
        color: $title;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding-right: 85px;
    }
    &__communication-text{
        font-size: 14px;
        line-height: 22px;
        @extend %text-font;
        color: $title;
        padding-bottom: 28px;
    }
    &__form-input{
        padding: 0 31px;
        background-color: transparent;
        height: 48px;
        border: 1px solid #d9dee1;
        width: 335px;
        &::placeholder{ /*всегда нужно особое приглашение в плане стилей*/
            font-weight: 300;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            line-height: 22px;
            color: #6c6c6c;
        }
    }
    &__form-button{
        background-color: transparent;
        border: 1px solid #d9dee1;
        color: #6c6c6c;
        height: 48px;
        font-weight: 600;
        padding: 6px 12px;
        width: 60px;
        margin-left: -5px;
        cursor: pointer;
        text-align: center;
        
    }
        &__form-icon{
            margin: 5px 12px;
        }
    
}
.information-content{
    display: flex;
    justify-content: space-between;
}

















